@font-face {
    font-family: 'Lora';
    font-weight: normal;
    src: url('@/assets/fonts/Lora-Regular.ttf');
}

@font-face {
    font-family: 'Lora';
    font-weight: 500;
    src: url('@/assets/fonts/Lora-Medium.ttf');
}

@font-face {
    font-family: 'Lora';
    font-weight: 700;
    src: url('@/assets/fonts/Lora-Bold.ttf');
}
