@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit(16)}rem;
}

@mixin button {
    display: block;
    background-color: $green;
    padding: rem(16);
    color: $white;
    font-weight: 700;
    text-decoration: none;
    border-radius: rem(32);

    &:after {
        content: '';
    }
}